/* Global Styles */
body {
    height: 100vh;
    width: 100vw;
    background-color: #141414;
    margin: 0;
    overflow: hidden; /* Prevent both vertical and horizontal scrolling */
    transition: background-color 0.5s ease;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(72, 72, 72, 0.95);
    padding: 15px 30px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    z-index: 5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.navActive {
    font-weight: bold;
    text-decoration: underline;
}

/* Particle Background */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* About Section */
#about {
    text-align: center;
    padding: 100px 20px;
    position: relative;
    z-index: 2;
    color: white;
    font-family: "Rubik", sans-serif;
}

#about h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.highlight {
    color: #e74c3c;
    font-weight: bold;
}

/* Timeline Section */
#timeline {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

#timeline h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#timeline ul {
    list-style-type: none;
    padding: 0;
}

#timeline li {
    font-size: 1.1rem;
    margin: 10px 0;
}

/* Passions Section */
#fun {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

#fun h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#fun p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Image Track and Container */
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
    pointer-events: auto;
    overflow: hidden;
    transition: transform 0.5s ease;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.fullscreen-image {
    transition: transform 0.5s ease;
}

.grow {
    transition: width 0.5s ease, height 0.5s ease;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: transform 1s ease;
}
